doctype html
html
    head 
     title='About'
     link(rel="stylesheet", href="style.css")
     script(src="/myscript.js") 
    body
     a(href='/') HOME
     a(href='/catalog') Quotes Catalog
     h1="Welcome to NEZITECH QUOTES PAGE"
     p="At NEZITECH, we're driven by a passion for innovation and a commitment to excellence. Our story began with a simple idea: to provide exceptional Quotes that make a meaningful impact on people's lives."
     
     h3="Our Mission"
     
    p="Our mission is to provide inspirational quotes. We strive to deliver high-quality solutions that meet the evolving needs of our customers, foster meaningful relationships, and contribute to the greater good."
    
    h3="Our Values"   
    
    p="Innovation: We embrace creativity and continuously seek new ways to improve."
    
    p="Integrity: We operate with transparency, honesty, and ethics."
    
    p="Customer Focus: We prioritize our customers' needs and satisfaction."
    
    p="Collaboration: We believe in teamwork and collective success."
     